* {
 outline:0!important
}
body {
 min-width:320px;
 min-height:100vh;
 position:relative;
 overflow-x:hidden;
 background-color:#fff;
 font-family:LatoRegular,Helvetica,Arial,sans-serif;
 font-size:16px;
 color:#000;
 opacity:1
}
body.noscroll {
 overflow:hidden
}
h1,h2,h3,h4,h5,h6 {
 font-weight:400
}
a {
 text-decoration:none;
 display:inline-block
}
a:focus,a:hover {
 text-decoration:none
}
a:focus:hover {
 text-decoration:none
}
img {
 display:inline-block;
 max-width:100%;
 max-height:100%
}
svg {
 max-width:100%;
 max-height:100%
}
.c-wrapper {
 display:-webkit-box;
 display:-webkit-flex;
 display:-ms-flexbox;
 display:flex;
 -webkit-box-orient:vertical;
 -webkit-box-direction:normal;
 -webkit-flex-direction:column;
 -ms-flex-direction:column;
 flex-direction:column;
 -webkit-box-pack:justify;
 -webkit-justify-content:space-between;
 -ms-flex-pack:justify;
 justify-content:space-between;
 max-width:1920px;
 min-height:100vh;
 margin:0 auto
}
.c-main {
 -webkit-box-flex:1;
 -webkit-flex:auto;
 -ms-flex:auto;
 flex:auto
}
.container {
 max-width:1210px;
 margin-right:auto;
 margin-left:auto;
 padding-left:15px;
 padding-right:15px
}
.container_style1 {
 max-width:1270px
}
.container_style2 {
 max-width:1770px
}
.c-ico {
 background-repeat:no-repeat;
 background-position:50%
}
.c-unlist {
 margin:0;
 padding:0;
 list-style-type:none
}
.hidden {
 display:none
}
button.mfp-close {
 width:16px;
 height:16px;
 line-height:1;
 top:15px;
 right:15px;
 display:inline-block;
 background-repeat:no-repeat;
 background-position:50%;
 background-image:url(../img/common/icons/ico-close.png);
 font-size:0;
 color:transparent;
 opacity:1;
 -webkit-transition:all .3s ease;
 transition:all .3s ease
}
button.mfp-close:active {
 top:15px
}
button.mfp-close:hover {
 opacity:.7
}
.mfp-bg {
 background-color:#141216;
 opacity:.2
}
.mfp-fade.mfp-bg {
 opacity:0;
 -webkit-transition:all .3s ease-in-out;
 transition:all .3s ease-in-out
}
.mfp-fade.mfp-bg.mfp-ready {
 opacity:.2
}
.mfp-fade.mfp-bg.mfp-removing {
 opacity:0
}
.mfp-fade.mfp-wrap .mfp-content {
 opacity:0;
 -webkit-transition:all .3s ease-in-out;
 transition:all .3s ease-in-out
}
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
 opacity:1
}
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
 opacity:0
}
.irs {
 height:auto;
 margin-bottom:9px
}
.irs-line {
 height:3px;
 border-radius:0 0 3px 3px;
 top:-3px;
 cursor:pointer
}
.irs-bar {
 height:3px;
 top:-3px;
 cursor:pointer
}
.irs-bar-edge {
 height:3px
}
.irs-bar,.irs-bar-edge,.irs-slider {
 background:0 0;
 background-color:#00c112;
 top:-3px
}
.irs-line-left,.irs-line-mid,.irs-line-right {
 height:0
}
.irs-max,.irs-min,.irs-single {
 visibility:visible!important
}
.irs-slider {
 width:17px;
 height:17px;
 border:3px solid #fff;
 border-radius:50%;
 background-color:#00c112;
 box-shadow:0 4px 5.52px .48px rgba(15,17,18,.15);
 top:-11px;
 cursor:pointer
}
.irs-max,.irs-min,.irs-single {
 top:-webkit-calc(100% + 5px);
 top:calc(100% + 5px);
 background:0 0;
 color:#c2c2c2;
 font-size:12px;
 line-height:1
}
.irs-single {
 display:none
}
.select2-container {
 width:100%!important
}
.select2-container .select2-selection--single {
 height:auto;
 border-color:#c2c2c2
}
.select2-container .select2-selection--single .select2-selection__rendered {
 padding:16px 25px 16px 20px;
 font-size:18px;
 line-height:1
}
.select2-container .select2-selection--single .select2-selection__placeholder {
 color:#c2c2c2
}
.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
 -webkit-transform:translateY(-50%) rotate(180deg);
 -ms-transform:translateY(-50%) rotate(180deg);
 transform:translateY(-50%) rotate(180deg)
}
.select2-container--default .select2-selection--single {
 border-radius:0
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
 width:auto;
 height:100%
}
.select2-container--default .select2-selection--single .select2-selection__arrow b {
 width:16px;
 height:9px;
 border:none;
 background-repeat:no-repeat;
 background-position:50%;
 background-image:url(../img/common/icons/arrow-bottom.png);
 margin:0 20px 0 0;
 left:auto;
 right:0;
 -webkit-transform:translateY(-50%);
 -ms-transform:translateY(-50%);
 transform:translateY(-50%);
 -webkit-transition:all .15s ease;
 transition:all .15s ease
}
.select2-results__option {
 font-size:18px;
 padding:12px 10px
}
.datepicker--cell.-selected- {
 background-color:#00c112;
 color:#fff
}
.datepicker--cell.-focus- {
 background-color:#00c112;
 color:#fff
}
.datepicker--cell.-focus-.-selected- {
 background-color:#00c112
}
.datepicker--cell.-current-.-selected- {
 background-color:#00c112;
 color:#fff
}
.datepicker--cell.-current-.-focus- {
 color:#fff
}
@font-face {
 font-family:RobotoRegular;
 font-weight:400;
 font-style:normal;
 src:url(../fonts/RobotoRegular/RobotoRegular.eot);
 src:url(../fonts/RobotoRegular/RobotoRegular.eot?#iefix) format("embedded-opentype"),url(../fonts/RobotoRegular/RobotoRegular.woff) format("woff"),url(../fonts/RobotoRegular/RobotoRegular.ttf) format("truetype")
}
@font-face {
 font-family:RobotoMedium;
 font-weight:400;
 font-style:normal;
 src:url(../fonts/RobotoMedium/RobotoMedium.eot);
 src:url(../fonts/RobotoMedium/RobotoMedium.eot?#iefix) format("embedded-opentype"),url(../fonts/RobotoMedium/RobotoMedium.woff) format("woff"),url(../fonts/RobotoMedium/RobotoMedium.ttf) format("truetype")
}
@font-face {
 font-family:LatoRegular;
 font-weight:400;
 font-style:normal;
 src:url(../fonts/LatoRegular/LatoRegular.eot);
 src:url(../fonts/LatoRegular/LatoRegular.eot?#iefix) format("embedded-opentype"),url(../fonts/LatoRegular/LatoRegular.woff) format("woff"),url(../fonts/LatoRegular/LatoRegular.ttf) format("truetype")
}
@font-face {
 font-family:LatoMedium;
 font-weight:400;
 font-style:normal;
 src:url(../fonts/LatoMedium/LatoMedium.eot);
 src:url(../fonts/LatoMedium/LatoMedium.eot?#iefix) format("embedded-opentype"),url(../fonts/LatoMedium/LatoMedium.woff) format("woff"),url(../fonts/LatoMedium/LatoMedium.ttf) format("truetype")
}
@font-face {
 font-family:LatoSemibold;
 font-weight:400;
 font-style:normal;
 src:url(../fonts/LatoSemibold/LatoSemibold.eot);
 src:url(../fonts/LatoSemibold/LatoSemibold.eot?#iefix) format("embedded-opentype"),url(../fonts/LatoSemibold/LatoSemibold.woff) format("woff"),url(../fonts/LatoSemibold/LatoSemibold.ttf) format("truetype")
}
@font-face {
 font-family:LatoBold;
 font-weight:400;
 font-style:normal;
 src:url(../fonts/LatoBold/LatoBold.eot);
 src:url(../fonts/LatoBold/LatoBold.eot?#iefix) format("embedded-opentype"),url(../fonts/LatoBold/LatoBold.woff) format("woff"),url(../fonts/LatoBold/LatoBold.ttf) format("truetype")
}
.c-btn {
 text-decoration:none;
 display:inline-block;
 text-align:center;
 line-height:1;
 border:none;
 background:0 0;
 cursor:pointer;
 -webkit-user-select:none;
 -moz-user-select:none;
 -ms-user-select:none;
 user-select:none
}
.c-btn:focus,.c-btn:hover {
 text-decoration:none
}
.c-btn:focus:hover,.c-btn:hover:hover {
 text-decoration:none
}
.c-btn:disabled {
 opacity:.5;
 cursor:not-allowed
}
.c-btn-type1 {
 min-width:224px;
 background-color:#ffcd00;
 padding:16px 15px 16px 42px;
 font-size:16px;
 color:#fff;
 letter-spacing:.5px;
 border-radius:100px;
 background-image:url(../img/partials/header/icons/ico-call-answer.png);
 background-repeat:no-repeat;
 background-position:16px 50%;
 -webkit-transition:all .3s ease;
 transition:all .3s ease
}
.c-btn-type1:hover {
 color:#fff
}
.c-btn-type1:focus {
 color:#fff
}
.c-btn-type1:hover {
 background-color:#fdc400;
 box-shadow:0 3px 18px 0 #ffd300
}
.c-btn-type2 {
 min-width:224px;
 padding:16px 15px;
 font-size:16px;
 color:#fff;
 letter-spacing:.5px;
 border-radius:100px;
 background-color:#00c112;
 -webkit-transition:all .3s ease;
 transition:all .3s ease
}
.c-btn-type2:hover {
 color:#fff
}
.c-btn-type2:focus {
 color:#fff
}
.c-btn-type2:hover {
 background-color:#00b510;
 box-shadow:0 3px 18px 0 rgba(0,193,18,.7)
}
.c-btn-type2:disabled {
 background-color:#c2c2c2;
 opacity:1;
 box-shadow:none
}
.c-btn-type3 {
 min-width:224px;
 background-color:#ffcd00;
 padding:16px 15px 16px 42px;
 font-size:16px;
 color:#fff;
 letter-spacing:.5px;
 border-radius:100px;
 background-image:url(../img/partials/fixedAside/icons/ico-phone.png);
 background-repeat:no-repeat;
 background-position:16px 50%;
 -webkit-transition:all .3s ease;
 transition:all .3s ease
}
.c-btn-type3:hover {
 color:#fff
}
.c-btn-type3:focus {
 color:#fff
}
.c-btn-type3:hover {
 background-color:#fdc400;
 box-shadow:0 3px 18px 0 #ffd300
}
.c-btn-type4 {
 min-width:224px;
 padding:16px 15px;
 font-size:16px;
 color:#fff;
 letter-spacing:.5px;
 border-radius:100px;
 background-color:#00c112;
 background-image:url(../img/partials/fixedAside/icons/ico-options.png);
 background-repeat:no-repeat;
 background-position:16px 50%;
 -webkit-transition:all .3s ease;
 transition:all .3s ease
}
.c-btn-type4:hover {
 color:#fff
}
.c-btn-type4:focus {
 color:#fff
}
.c-btn-type4:hover {
 background-color:#00b510;
 box-shadow:0 3px 18px 0 rgba(0,193,18,.7)
}
.c-btn-fileInput {
 min-width:180px;
 padding:16px 15px;
 font-size:16px;
 color:#fff;
 letter-spacing:.5px;
 border-radius:100px;
 background-color:#00c112;
 -webkit-transition:all .3s ease;
 transition:all .3s ease
}
.c-btn-fileInput:hover {
 color:#fff
}
.c-btn-fileInput:focus {
 color:#fff
}
.c-btn-fileInput:hover {
 background-color:#00b510;
 box-shadow:0 3px 18px 0 rgba(0,193,18,.7)
}
.c-btn-fileInput:disabled {
 background-color:#c2c2c2;
 opacity:1;
 box-shadow:none
}
input[type=date],input[type=email],input[type=number],input[type=password],input[type=search],input[type=tel],input[type=text] {
 display:inline-block;
 width:100%;
 padding:13px 10px;
 font-size:14px;
 font-family:LatoRegular,Helvetica,Arial,sans-serif;
 line-height:1;
 border:1px solid #c2c2c2
}
input[type=date]::-webkit-input-placeholder,input[type=email]::-webkit-input-placeholder,input[type=number]::-webkit-input-placeholder,input[type=password]::-webkit-input-placeholder,input[type=search]::-webkit-input-placeholder,input[type=tel]::-webkit-input-placeholder,input[type=text]::-webkit-input-placeholder {
 color:#c2c2c2;
 opacity:1;
 -webkit-transition:all .3s ease;
 transition:all .3s ease
}
input[type=date]::-moz-placeholder,input[type=email]::-moz-placeholder,input[type=number]::-moz-placeholder,input[type=password]::-moz-placeholder,input[type=search]::-moz-placeholder,input[type=tel]::-moz-placeholder,input[type=text]::-moz-placeholder {
 color:#c2c2c2;
 opacity:1;
 -webkit-transition:all .3s ease;
 transition:all .3s ease
}
input[type=date]:-moz-placeholder,input[type=email]:-moz-placeholder,input[type=number]:-moz-placeholder,input[type=password]:-moz-placeholder,input[type=search]:-moz-placeholder,input[type=tel]:-moz-placeholder,input[type=text]:-moz-placeholder {
 color:#c2c2c2;
 opacity:1;
 -webkit-transition:all .3s ease;
 transition:all .3s ease
}
input[type=date]:-ms-input-placeholder,input[type=email]:-ms-input-placeholder,input[type=number]:-ms-input-placeholder,input[type=password]:-ms-input-placeholder,input[type=search]:-ms-input-placeholder,input[type=tel]:-ms-input-placeholder,input[type=text]:-ms-input-placeholder {
 color:#c2c2c2;
 opacity:1;
 -webkit-transition:all .3s ease;
 transition:all .3s ease
}
input[type=date]:focus::-webkit-input-placeholder,input[type=email]:focus::-webkit-input-placeholder,input[type=number]:focus::-webkit-input-placeholder,input[type=password]:focus::-webkit-input-placeholder,input[type=search]:focus::-webkit-input-placeholder,input[type=tel]:focus::-webkit-input-placeholder,input[type=text]:focus::-webkit-input-placeholder {
 opacity:0
}
input[type=date]:focus::-moz-placeholder,input[type=email]:focus::-moz-placeholder,input[type=number]:focus::-moz-placeholder,input[type=password]:focus::-moz-placeholder,input[type=search]:focus::-moz-placeholder,input[type=tel]:focus::-moz-placeholder,input[type=text]:focus::-moz-placeholder {
 opacity:0
}
input[type=date]:focus:-moz-placeholder,input[type=email]:focus:-moz-placeholder,input[type=number]:focus:-moz-placeholder,input[type=password]:focus:-moz-placeholder,input[type=search]:focus:-moz-placeholder,input[type=tel]:focus:-moz-placeholder,input[type=text]:focus:-moz-placeholder {
 opacity:0
}
input[type=date]:focus:-ms-input-placeholder,input[type=email]:focus:-ms-input-placeholder,input[type=number]:focus:-ms-input-placeholder,input[type=password]:focus:-ms-input-placeholder,input[type=search]:focus:-ms-input-placeholder,input[type=tel]:focus:-ms-input-placeholder,input[type=text]:focus:-ms-input-placeholder {
 opacity:0
}
input[name=cardHolder] {
 text-transform:uppercase
}
input[type=file] {
 display:none
}
.c-input-file-content {
 max-width:100%
}
.c-input-file-info {
 display:none
}
.c-input-file-info-inner {
 display:-webkit-box;
 display:-webkit-flex;
 display:-ms-flexbox;
 display:flex;
 -webkit-box-align:center;
 -webkit-align-items:center;
 -ms-flex-align:center;
 align-items:center;
 margin-bottom:23px
}
.c-input-file-info-inner .c-ico {
 margin-right:14px
}
.c-input-file-info-right {
 display:-webkit-box;
 display:-webkit-flex;
 display:-ms-flexbox;
 display:flex;
 -webkit-box-orient:vertical;
 -webkit-box-direction:normal;
 -webkit-flex-direction:column;
 -ms-flex-direction:column;
 flex-direction:column;
 -webkit-box-pack:center;
 -webkit-justify-content:center;
 -ms-flex-pack:center;
 justify-content:center
}
.c-input-file-info-text {
 font-size:14px;
 line-height:1.3;
 color:#00cb14
}
.c-input-file-info-remove {
 display:inline-block;
 font-size:14px;
 line-height:1;
 color:#141216;
 text-decoration:underline;
 cursor:pointer;
 -webkit-transition:all .3s ease;
 transition:all .3s ease
}
.c-input-file-info-remove:hover {
 text-decoration:none
}
input[type=checkbox] {
 display:none
}
input[type=checkbox]+label {
 position:relative;
 display:-webkit-box;
 display:-webkit-flex;
 display:-ms-flexbox;
 display:flex;
 -webkit-box-align:center;
 -webkit-align-items:center;
 -ms-flex-align:center;
 align-items:center;
 margin-bottom:0;
 font-size:16px;
 font-family:LatoMedium,Helvetica,Arial,sans-serif;
 color:#141216;
 line-height:1;
 cursor:pointer;
 -webkit-user-select:none;
 -moz-user-select:none;
 -ms-user-select:none;
 user-select:none
}
input[type=checkbox]:not(checked)+label:after,input[type=checkbox]:not(checked)+label:before {
 content:''
}
input[type=checkbox]:not(checked)+label:before {
 display:block;
 width:20px;
 height:20px;
 margin-right:20px;
 border:1px solid #c2c2c2;
 background-color:#fff
}
input[type=checkbox]:not(checked)+label:after {
 position:absolute;
 top:50%;
 left:0;
 width:20px;
 height:20px;
 opacity:0;
 background-color:#00c112;
 background-repeat:no-repeat;
 background-position:50%;
 background-image:url(../img/common/icons/ico-checked.png);
 -webkit-transform:translate3d(0,-50%,0);
 transform:translate3d(0,-50%,0);
 -webkit-transition:all .2s ease;
 transition:all .2s ease
}
input[type=checkbox]:checked+label:before {
 border-color:#00c112
}
input[type=checkbox]:checked+label:after {
 opacity:1
}
input[type=radio] {
 display:none
}
input[type=radio]+label {
 position:relative;
 display:-webkit-inline-box;
 display:-webkit-inline-flex;
 display:-ms-inline-flexbox;
 display:inline-flex;
 -webkit-box-align:center;
 -webkit-align-items:center;
 -ms-flex-align:center;
 align-items:center;
 margin-bottom:0;
 font-size:18px;
 font-family:LatoMedium,Helvetica,Arial,sans-serif;
 line-height:1;
 color:rgba(20,18,22,.4);
 cursor:pointer;
 -webkit-user-select:none;
 -moz-user-select:none;
 -ms-user-select:none;
 user-select:none;
 white-space:nowrap
}
input[type=radio]:not(checked)+label:after,input[type=radio]:not(checked)+label:before {
 content:'';
 border-radius:50%
}
input[type=radio]:not(checked)+label:before {
 display:block;
 min-width:20px;
 height:20px;
 margin-right:20px;
 border:1px solid #c2c2c2;
 background-color:#fff
}
input[type=radio]:not(checked)+label:after {
 position:absolute;
 top:10px;
 left:4px;
 width:12px;
 height:12px;
 opacity:0;
 background-color:#00c012;
 -webkit-transform:translate3d(0,-50%,0);
 transform:translate3d(0,-50%,0);
 -webkit-transition:all .2s ease;
 transition:all .2s ease
}
input[type=radio]:checked+label {
 color:#141216
}
input[type=radio]:checked+label:before {
 background-color:transparent
}
input[type=radio]:checked+label:after {
 opacity:1
}
select {
 display:inline-block;
 width:100%;
 font-size:14px;
 font-family:LatoRegular,Helvetica,Arial,sans-serif;
 border:1px solid #c2c2c2;
 padding:13px 10px;
 cursor:pointer;
 color:#c2c2c2;
 -webkit-appearance:none!important;
 -moz-appearance:none!important;
 appearance:none!important
}
select::-ms-expand {
 display:none
}
input[type=email].c-error,input[type=number].c-error,input[type=password].c-error,input[type=search].c-error,input[type=tel].c-error,input[type=text].c-error,textarea.c-error {
 border-color:#be0737
}
.c-form-error-message {
 font-size:11px;
 color:#be0737;
 position:relative;
 height:0;
 left:20px;
 top:-17px;
 text-align:left
}
.c-header {
 background-color:#fff
}
.c-header .container {
 display:-webkit-box;
 display:-webkit-flex;
 display:-ms-flexbox;
 display:flex;
 -webkit-box-pack:justify;
 -webkit-justify-content:space-between;
 -ms-flex-pack:justify;
 justify-content:space-between;
 -webkit-box-align:center;
 -webkit-align-items:center;
 -ms-flex-align:center;
 align-items:center
}
.c-header-padding {
 padding:44px 0 0
}
.c-header-left,.c-header-right {
 display:-webkit-box;
 display:-webkit-flex;
 display:-ms-flexbox;
 display:flex;
 -webkit-box-align:center;
 -webkit-align-items:center;
 -ms-flex-align:center;
 align-items:center
}
.c-header-logo {
 width:199.95px;
 height:31.16px;
 margin-right:33px;
 display:-webkit-box;
 display:-webkit-flex;
 display:-ms-flexbox;
 display:flex;
 -webkit-box-align:center;
 -webkit-align-items:center;
 -ms-flex-align:center;
 align-items:center
}
.c-header-logo svg {
 width:100%;
 height:100%
}
.c-header-text {
 font-size:15px;
 line-height:1.33333;
 color:#a3a3a3;
 letter-spacing:.3px
}
.c-header-nav {
 width:100%;
 background-color:#141216;
 margin-top:39px;
 position:relative;
 z-index:1;
 -webkit-transition:all .3s ease;
 transition:all .3s ease
}
.c-header-nav.is-open {
 left:0;
 opacity:1
}
.c-header-nav ul {
 display:-webkit-box;
 display:-webkit-flex;
 display:-ms-flexbox;
 display:flex;
 -webkit-box-pack:justify;
 -webkit-justify-content:space-between;
 -ms-flex-pack:justify;
 justify-content:space-between
}
.c-header-nav-item {
 max-width:-webkit-calc(100% / 7);
 max-width:calc(100% / 7);
 -webkit-flex-basis:-webkit-calc(100% / 7);
 -ms-flex-preferred-size:calc(100% / 7);
 flex-basis:calc(100% / 7);
 width:100%;
 text-align:center
}
.c-header-nav-item-link {
 width:100%;
 padding:23px 15px 25px;
 line-height:1;
 font-size:16px;
 color:#fff;
 -webkit-transition:all .3s ease;
 transition:all .3s ease
}
.c-header-nav-item-link:hover {
 color:#fff
}
.c-header-nav-item-link:focus {
 color:#fff
}
.c-header-nav-item-link.active {
 background-color:#00c012
}
.c-header-nav-item-link:hover {
 color:rgba(255,255,255,.7)
}
.c-header-phone-wrap {
 margin-right:57px
}
.c-header-phone-number {
 font-size:24px;
 color:#141216;
 font-family:LatoBold,Helvetica,Arial,sans-serif;
 line-height:1;
 letter-spacing:.5px;
 white-space:nowrap;
 margin-bottom:4px
}
.c-header-phone-number:hover {
 color:#141216
}
.c-header-phone-number:focus {
 color:#141216
}
.c-header-phone-text {
 font-size:15px;
 color:#00c113;
 font-family:LatoMedium,Helvetica,Arial,sans-serif;
 line-height:1;
 letter-spacing:.3px
}
.c-btn-toggle {
 width:18px;
 position:relative;
 z-index:130;
 display:none
}
.c-btn-toggle.active span {
 background-color:#fff;
 position:absolute;
 top:7px;
 left:0;
 width:100%;
 margin-bottom:0
}
.c-btn-toggle.active span:nth-child(1) {
 -webkit-transform:rotate(-45deg);
 -ms-transform:rotate(-45deg);
 transform:rotate(-45deg)
}
.c-btn-toggle.active span:nth-child(2) {
 -webkit-transform:rotate(45deg);
 -ms-transform:rotate(45deg);
 transform:rotate(45deg)
}
.c-btn-toggle.active span:nth-child(3) {
 display:none
}
.c-btn-toggle span {
 display:block;
 height:3px;
 background-color:#000;
 margin-bottom:3px;
 -webkit-transition:all .3s ease;
 transition:all .3s ease
}
.c-footer {
 color:#fff;
 background-color:#353535;
 padding:35px 0 32px
}
.c-footer-content {
 display:-webkit-box;
 display:-webkit-flex;
 display:-ms-flexbox;
 display:flex;
 -webkit-flex-wrap:wrap;
 -ms-flex-wrap:wrap;
 flex-wrap:wrap
}
.c-footer-content-item {
 max-width:25%;
 -webkit-flex-basis:25%;
 -ms-flex-preferred-size:25%;
 flex-basis:25%;
 width:100%;
 padding-right:50px
}
.c-footer-content-item-title {
 color:#fff;
 font-size:13px;
 text-transform:uppercase;
 font-family:LatoBold,Helvetica,Arial,sans-serif;
 margin-bottom:10px;
 letter-spacing:.3px
}
.c-footer-content-item-list {
 margin-bottom:36px
}
.c-footer-content-item-list li {
 letter-spacing:.3px;
 margin-bottom:6px
}
.c-footer-content-item-list a {
 font-size:13px;
 color:#fff;
 opacity:.6
}
.c-footer-content-item-list a:hover {
 color:#fff
}
.c-footer-content-item-list a:focus {
 color:#fff
}
.c-footer-content-item-list a:hover {
 opacity:1
}
.c-footer-phone {
 margin-bottom:25px
}
.c-footer-phone a {
 font-size:23px;
 color:#fff;
 font-family:LatoBold,Helvetica,Arial,sans-serif;
 letter-spacing:.6px
}
.c-footer-phone a:hover {
 color:#fff
}
.c-footer-phone a:focus {
 color:#fff
}
.c-footer-phone-descr {
 font-size:15px;
 line-height:1.3;
 color:#00c113;
 font-family:RobotoMedium,Helvetica,Arial,sans-serif
}
.c-footer-social-panel {
 display:-webkit-box;
 display:-webkit-flex;
 display:-ms-flexbox;
 display:flex;
 margin-bottom:33px
}
.c-footer-social-panel-item {
 font-size:0;
 color:transparent;
 margin-right:10px;
 width:33px;
 height:33px;
 opacity:.4;
 -webkit-transition:all .3 ease;
 transition:all .3 ease
}
.c-footer-social-panel-item:hover {
 opacity:1
}
.c-footer-social-panel-item:last-child {
 margin-right:0
}
.c-ico-instagram-footer {
 background-image:url(../img/footer2/icons/ico-insta.png)
}
.c-ico-vk-footer {
 background-image:url(../img/footer2/icons/ico-vk.png)
}
.c-ico-whatsapp-footer {
 background-image:url(../img/footer2/icons/ico-whatsapp.png)
}
.c-footer-info-item {
 opacity:.6;
 color:#fff;
 font-size:13px;
 letter-spacing:.3px;
 margin-bottom:11px
}
.c-footer-bottom {
 text-align:center;
 margin-top:11px
}
.c-footer-copyright {
 font-size:12px;
 letter-spacing:.87px;
 margin-bottom:9px
}
.c-developer-link {
 font-size:13px;
 color:#fff;
 font-family:LatoBold,Helvetica,Arial,sans-serif;
 position:relative;
 padding-top:4px;
 padding-right:74px;
 letter-spacing:.4px
}
.c-developer-link:hover {
 color:#fff
}
.c-developer-link:focus {
 color:#fff
}
.c-developer-link:hover:after {
 background-image:url(../img/partials/footer/icons/logo-aims-h.png)
}
.c-developer-link:after {
 content:"";
 display:block;
 position:absolute;
 top:0;
 right:0;
 width:64px;
 height:27px;
 background-repeat:no-repeat;
 background-position:50%;
 background-image:url(../img/partials/footer/icons/logo-aims.png)
}
.c-fixed-aside {
 position:fixed;
 right:40px;
 bottom:25px;
 z-index:100
}
.c-fixed-aside-top {
 padding-right:10px
}
.c-fixed-aside-top-item {
 margin-bottom:20px;
 height:60px
}
.c-fixed-aside-top-item .c-btn {
 overflow:hidden;
 min-width:0;
 width:60px;
 height:60px;
 background-position:50%;
 display:-webkit-box;
 display:-webkit-flex;
 display:-ms-flexbox;
 display:flex;
 -webkit-box-align:center;
 -webkit-align-items:center;
 -ms-flex-align:center;
 align-items:center;
 position:absolute;
 right:10px
}
.c-fixed-aside-top-item .c-btn span {
 width:0;
 display:none;
 white-space:nowrap
}
.c-fixed-aside-top-item .c-btn:hover {
 overflow:visible;
 width:auto;
 min-width:240px;
 padding-left:65px
}
.c-fixed-aside-top-item .c-btn:hover span {
 width:auto;
 display:block
}
.c-fixed-aside-top-item .c-btn.c-btn-type3:hover {
 top:0;
 background-position:27px 50%
}
.c-fixed-aside-top-item .c-btn.c-btn-type4:hover {
 top:80px;
 background-position:22px 50%
}
.c-fixed-aside-bottom {
 min-width:246px;
 background-color:rgba(20,18,22,.8);
 padding:15px 20px;
 position:relative;
 padding-right:40px
}
.c-fixed-aside-bottom-close-btn {
 width:12px;
 height:13px;
 position:absolute;
 top:18px;
 right:13px;
 background-repeat:no-repeat;
 background-position:50%;
 background-image:url(../img/partials/fixedAside/icons/ico-close.png);
 cursor:pointer;
 opacity:.7;
 -webkit-transition:all .3s ease;
 transition:all .3s ease
}
.c-fixed-aside-bottom-close-btn:hover {
 opacity:1
}
.c-fixed-aside-bottom-item {
 display:-webkit-box;
 display:-webkit-flex;
 display:-ms-flexbox;
 display:flex;
 -webkit-box-align:center;
 -webkit-align-items:center;
 -ms-flex-align:center;
 align-items:center;
 margin-bottom:17px
}
.c-fixed-aside-bottom-item:last-child {
 margin-bottom:0
}
.c-fixed-aside-bottom-item .c-ico {
 margin-right:16px
}
.c-fixed-aside-bottom-item-title {
 color:#fff;
 font-size:14px;
 line-height:1.3
}
.c-fixed-aside-bottom-item-text {
 font-size:16px;
 line-height:1.3;
 font-family:LatoMedium,Helvetica,Arial,sans-serif
}
.c-fixed-aside-bottom-item-text_style1 {
 color:#00bf13
}
.c-fixed-aside-bottom-item-text_style2 {
 color:#ffd300
}
.c-ico-in {
 width:30px;
 height:28px;
 background-image:url(../img/partials/fixedAside/icons/ico-in.png)
}
.c-ico-out {
 width:30px;
 height:28px;
 background-image:url(../img/partials/fixedAside/icons/ico-out.png)
}
.c-block-type1 {
 background-size:cover;
 background-position:50%;
 max-width:1700px;
 min-height:580px;
 margin:0 auto
}
.c-block-type1 .container {
 display:-webkit-box;
 display:-webkit-flex;
 display:-ms-flexbox;
 display:flex;
 -webkit-box-pack:justify;
 -webkit-justify-content:space-between;
 -ms-flex-pack:justify;
 justify-content:space-between
}
.c-block-type1 .c-block-type1-form-wrap {
 position:absolute;
 left:0;
 top:0;
 z-index:10;
 width:100%
}
.c-block-type1_style1 {
 margin-top:-32px
}
.c-block-type1_style2 {
 min-height:500px
}
.c-block-type1_style2.c-block-type1-padding {
 padding:45px 0 30px
}
.c-block-type1_style2 .c-btn {
 margin-top:30px
}
.c-block-type1-padding {
 padding:97px 0 30px
}
.c-block-type1-left {
 max-width:600px;
 -webkit-flex-basis:600px;
 -ms-flex-preferred-size:600px;
 flex-basis:600px;
 width:100%;
 margin-top:84px;
 margin-right:50px
}
.c-block-type1-title {
 color:#fff;
 font-size:48px;
 line-height:1.20833;
 font-family:LatoBold,Helvetica,Arial,sans-serif;
 letter-spacing:1.2px;
 margin-bottom:24px
}
.c-block-type1-title span {
 color:#00c012
}
.c-block-type1-text {
 color:#fff;
 font-size:22px;
 line-height:1.45455;
 letter-spacing:.6px
}
.c-block-type1-right {
 max-width:380px;
 -webkit-flex-basis:380px;
 -ms-flex-preferred-size:380px;
 flex-basis:380px;
 width:100%;
 position:relative
}
.c-block-type1-form-wrap {
 background-color:#fff
}
.c-block-type1-form-top {
 padding:28px 15px 0;
 text-align:center
}
.c-block-type1-form-title {
 font-size:28px;
 line-height:1;
 color:#00c112;
 font-family:LatoBold,Helvetica,Arial,sans-serif;
 margin-bottom:5px
}
.c-block-type1-form-descr {
 font-size:18px;
 line-height:1.44444;
 color:#686868;
 margin-bottom:35px
}
.c-block-type1-form-item,.c-block-type3-form-item {
 text-align:left;
 margin-bottom:36px;
 position:relative
}
.c-block-type1-form-item input,.c-block-type3-form-item input {
 font-size:18px;
 padding:12px 15px
}
.c-block-type1-form-item .c-input-favorite-items,.c-block-type3-form-item .c-input-favorite-items {
 bottom:-webkit-calc(100% - 28px);
 bottom:calc(100% - 28px)
}
.c-block-type1-form-item-title,.c-block-type3-form-title {
 font-size:15px;
 line-height:1;
 color:#686868;
 font-family:LatoMedium,Helvetica,Arial,sans-serif;
 margin-bottom:13px
}
.c-block-type1-form-bottom {
 background-color:#f8f8f8;
 padding:20px 15px;
 overflow:hidden
}
.c-block-type1-form-bottom-info {
 display:-webkit-box;
 display:-webkit-flex;
 display:-ms-flexbox;
 display:flex;
 margin-left:-18px;
 margin-right:-18px;
 margin-bottom:25px
}
.c-block-type1-form-bottom-info-item {
 margin:0 18px
}
.c-block-type1-form-bottom-info-item-title {
 font-size:14px;
 color:#c2c2c2;
 line-height:1;
 margin-bottom:5px
}
.c-block-type1-form-bottom-info-item-text {
 font-size:14px;
 color:#686868;
 font-family:LatoMedium,Helvetica,Arial,sans-serif;
 line-height:1
}
.c-block-type1-form-bottom-btn-wrap {
 text-align:center
}
.js-main-form-phone-field,.js-main-form-step2-btn {
 display:none
}
.c-block-type2-padding {
 padding:117px 0 32px
}
.c-block-type2-items {
 display:-webkit-box;
 display:-webkit-flex;
 display:-ms-flexbox;
 display:flex;
 -webkit-flex-wrap:wrap;
 -ms-flex-wrap:wrap;
 flex-wrap:wrap;
 -webkit-box-pack:center;
 -webkit-justify-content:center;
 -ms-flex-pack:center;
 justify-content:center
}
.c-block-type2-item {
 max-width:295px;
 -webkit-flex-basis:295px;
 -ms-flex-preferred-size:295px;
 flex-basis:295px;
 width:100%;
 text-align:center;
 padding:0 15px;
 margin-bottom:50px
}
.c-block-type2-item-ico {
 width:95px;
 height:95px;
 border:1.5px solid #00cb14;
 border-radius:50%;
 margin:0 auto 34px;
 display:-webkit-box;
 display:-webkit-flex;
 display:-ms-flexbox;
 display:flex
}
.c-block-type2-item-ico .c-ico {
 margin:auto
}
.c-block-type2-ico1 {
 width:56px;
 height:56px;
 background-image:url(../img/elements/block2/icons/ico1.png)
}
.c-block-type2-ico2 {
 width:66px;
 height:62px;
 background-image:url(../img/elements/block2/icons/ico2.png)
}
.c-block-type2-ico3 {
 width:61px;
 height:57px;
 background-image:url(../img/elements/block2/icons/ico3.png)
}
.c-block-type2-ico4 {
 width:65px;
 height:47px;
 background-image:url(../img/elements/block2/icons/ico4.png)
}
.c-block-type2-item-text {
 color:#141216;
 font-size:18px;
 line-height:1.2;
 letter-spacing:.5px
}
.c-block-type3 {
 background-color:#f8f8f8
}
.c-block-type3 .c-main-title-type1 {
 margin-bottom:20px
}
.c-block-type3_style1.c-block-type3-padding {
 padding-bottom:25px
}
.c-block-type3-padding {
 padding:70px 0 50px
}
.c-block-type3-form-wrap {
 max-width:620px;
 margin:0 auto 61px
}
.c-block-type3-form-wrap .irs-max,.c-block-type3-form-wrap .irs-min,.c-block-type3-form-wrap .irs-single {
 font-size:16px
}
.c-block-type3-form-wrap .c-agreement-inner {
 max-width:100%
}
.c-block-type3-form-title {
 font-size:18px;
 margin-bottom:18px
}
.c-block-type3-form-item {
 margin-bottom:69px
}
.c-block-type3-form-item input {
 font-size:20px;
 padding:11px 17px
}
.c-block-type3-form-item .c-input-favorite-items {
 bottom:100%
}
.c-block-type3-form-btn-wrap {
 text-align:center
}
.c-block-type3-bottom-text {
 text-align:center;
 font-size:20px;
 line-height:1.5;
 color:#686868;
 letter-spacing:.2px;
 margin-bottom:35px
}
.c-block-type3-bottom-items {
 display:-webkit-box;
 display:-webkit-flex;
 display:-ms-flexbox;
 display:flex;
 -webkit-justify-content:space-around;
 -ms-flex-pack:distribute;
 justify-content:space-around;
 -webkit-box-align:center;
 -webkit-align-items:center;
 -ms-flex-align:center;
 align-items:center;
 -webkit-flex-wrap:wrap;
 -ms-flex-wrap:wrap;
 flex-wrap:wrap
}
.c-block-type3-bottom-item {
 padding:0 25px;
 margin-bottom:30px
}
.js-second-form-step2-btn,.js-second-form-step3-btn {
 display:none
}
.c-block-type4 .c-main-title-type1-descr {
 margin-bottom:46px
}
.c-block-type4-padding {
 padding:110px 0 90px
}
.c-block-type4-items {
 display:-webkit-box;
 display:-webkit-flex;
 display:-ms-flexbox;
 display:flex;
 -webkit-flex-wrap:wrap;
 -ms-flex-wrap:wrap;
 flex-wrap:wrap;
 -webkit-box-pack:center;
 -webkit-justify-content:center;
 -ms-flex-pack:center;
 justify-content:center;
 margin-left:-10px;
 margin-right:-10px
}
.c-block-type4-item {
 max-width:380px;
 -webkit-flex-basis:380px;
 -ms-flex-preferred-size:380px;
 flex-basis:380px;
 width:100%;
 background-color:#fff;
 box-shadow:0 3px 57px 0 rgba(214,214,214,.48);
 margin:0 10px 30px;
 text-align:center;
 padding:45px 15px 28px
}
.c-block-type4-item-ico {
 height:131px;
 display:-webkit-box;
 display:-webkit-flex;
 display:-ms-flexbox;
 display:flex;
 margin-bottom:34px
}
.c-block-type4-item-ico .c-ico {
 margin:auto
}
.c-block-type4-ico1 {
 width:181px;
 height:131px;
 background-image:url(../img/elements/block4/icons/ico1.png)
}
.c-block-type4-ico2 {
 width:119px;
 height:126px;
 background-image:url(../img/elements/block4/icons/ico2.png)
}
.c-block-type4-ico3 {
 width:118px;
 height:118px;
 background-image:url(../img/elements/block4/icons/ico3.png)
}
.c-block-type4-item-title {
 font-size:20px;
 line-height:1.3;
 color:#141216;
 letter-spacing:.3px;
 margin-bottom:10px
}
.c-block-type4-item-text {
 font-size:16px;
 line-height:1.375;
 color:#686868;
 letter-spacing:.3px
}
.c-block-type5 .container {
 display:-webkit-box;
 display:-webkit-flex;
 display:-ms-flexbox;
 display:flex
}
.c-block-type5-padding {
 padding:50px 0 20px
}
.c-block-type5-left {
 -webkit-box-flex:1;
 -webkit-flex:auto;
 -ms-flex:auto;
 flex:auto;
 margin-right:90px
}
.c-block-type5-left .c-main-title-type1 {
 margin-bottom:35px
}
.c-block-type5-left-text p {
 font-size:16px;
 line-height:1.5;
 color:#686868;
 margin-bottom:25px
}
.c-block-type5-right {
 max-width:380px;
 -webkit-flex-basis:380px;
 -ms-flex-preferred-size:380px;
 flex-basis:380px;
 width:100%;
 -webkit-flex-shrink:0;
 -ms-flex-negative:0;
 flex-shrink:0
}
.c-block-type5-right .c-block-type1-form-wrap {
 background-color:#f8f8f8
}
.c-block-type6-padding {
 padding:20px 0
}
.c-block-type6-items {
 display:-webkit-box;
 display:-webkit-flex;
 display:-ms-flexbox;
 display:flex;
 -webkit-flex-wrap:wrap;
 -ms-flex-wrap:wrap;
 flex-wrap:wrap
}
a.c-block-type6-item {
 font-size:14px;
 color:#686868;
 line-height:1
}
a.c-block-type6-item:hover {
 color:#686868
}
a.c-block-type6-item:focus {
 color:#686868
}
a.c-block-type6-item:after {
 content:'/';
 font-size:14px;
 color:#c2c2c2;
 line-height:1;
 margin:0 4px
}
.c-block-type6-item {
 font-size:14px;
 color:#c2c2c2;
 line-height:1;
 letter-spacing:.3px
}
.c-block-type7 .container {
 display:-webkit-box;
 display:-webkit-flex;
 display:-ms-flexbox;
 display:flex
}
.c-block-type7-padding {
 padding-bottom:50px
}
.c-block-type7-left {
 -webkit-box-flex:1;
 -webkit-flex:auto;
 -ms-flex:auto;
 flex:auto;
 margin-right:20px
}
.c-block-type7-content {
 background-color:#fff;
 box-shadow:0 0 18px 0 rgba(20,18,22,.1)
}
.c-block-type7-content-top {
 border-bottom:1px solid #e0e0e0;
 padding:27px 50px
}
.c-block-type7-content-top-items {
 display:-webkit-box;
 display:-webkit-flex;
 display:-ms-flexbox;
 display:flex;
 -webkit-box-align:center;
 -webkit-align-items:center;
 -ms-flex-align:center;
 align-items:center;
 margin:0 -15px
}
.c-block-type7-content-comments,.c-block-type7-content-date,.c-block-type7-content-views {
 font-size:15px;
 color:#c2c2c2;
 line-height:1;
 letter-spacing:.2px;
 margin:0 15px;
 display:-webkit-box;
 display:-webkit-flex;
 display:-ms-flexbox;
 display:flex;
 -webkit-box-align:center;
 -webkit-align-items:center;
 -ms-flex-align:center;
 align-items:center
}
.c-block-type7-content-comments .c-ico,.c-block-type7-content-date .c-ico,.c-block-type7-content-views .c-ico {
 margin-right:10px
}
.c-ico-views {
 width:20px;
 height:12px;
 background-image:url(../img/elements/block7/icons/ico-eye.png)
}
.c-ico-comments {
 width:14px;
 height:12px;
 background-image:url(../img/elements/block7/icons/ico-chat.png)
}
.c-block-type7-content-bottom {
 padding:35px 50px 50px
}
.c-block-type7-content-bottom .c-main-title-type1 {
 margin-bottom:15px
}
.c-block-type7-content-bottom .c-block-type7-social-share {
 margin-top:70px
}
.c-block-type7-content-text p {
 font-size:16px;
 line-height:1.5;
 color:#686868;
 margin-bottom:25px
}
.c-block-type7-content-text img {
 width:100%;
 margin-bottom:25px
}
.c-block-type7-right {
 max-width:380px;
 -webkit-flex-basis:380px;
 -ms-flex-preferred-size:380px;
 flex-basis:380px;
 width:100%;
 -webkit-flex-shrink:0;
 -ms-flex-negative:0;
 flex-shrink:0
}
.c-block-type7-right .c-block-type1-form-wrap {
 background-color:#f8f8f8
}
.c-block-type8 .c-main-title-type1 {
 margin-bottom:41px
}
.c-block-type8-padding {
 padding:45px 0 60px
}
.c-block-type8-middle {
 margin-bottom:35px
}
.c-block-type8-steps-nav-items {
 display:-webkit-box;
 display:-webkit-flex;
 display:-ms-flexbox;
 display:flex
}
.c-block-type8-steps-nav-item {
 min-width:180px;
 border-bottom:4px solid #e3e3e3;
 padding:0 20px 16px 20px;
 -webkit-transition:all .3s ease;
 transition:all .3s ease
}
.c-block-type8-steps-nav-item:first-child {
 padding-left:0
}
.c-block-type8-steps-nav-item.active {
 border-color:#00c012
}
.c-block-type8-steps-nav-item.active .c-block-type8-steps-nav-item-descr,.c-block-type8-steps-nav-item.active .c-block-type8-steps-nav-item-title {
 opacity:1
}
.c-block-type8-steps-nav-item-title {
 color:#141216;
 opacity:.4;
 font-family:LatoBold,Helvetica,Arial,sans-serif;
 font-size:19px;
 letter-spacing:.3px;
 line-height:1.3;
 margin-bottom:4px;
 -webkit-transition:all .3s ease;
 transition:all .3s ease
}
.c-block-type8-steps-nav-item-descr {
 color:#141216;
 opacity:.4;
 font-size:15px;
 line-height:1.3;
 letter-spacing:.3px;
 -webkit-transition:all .3s ease;
 transition:all .3s ease
}
.c-block-type8-bottom {
 display:-webkit-box;
 display:-webkit-flex;
 display:-ms-flexbox;
 display:flex
}
.c-block-type8-bottom-left {
 max-width:780px;
 -webkit-flex-basis:780px;
 -ms-flex-preferred-size:780px;
 flex-basis:780px;
 width:100%;
 margin-right:20px
}
.c-block-type8-bottom-right {
 padding-top:50px
}
.c-block-type8-form-step:nth-child(n+2){display:none}
.c-block-type8-form-step-advanced {
 display:none
}
.c-block-type8-form-step .c-block-type8-social-panel {
 margin-bottom:40px
}
.c-block-type8-form-step-title {
 font-size:28px;
 line-height:1.2;
 color:#141216;
 font-family:LatoBold,Helvetica,Arial,sans-serif;
 margin-bottom:44px
}
.c-block-type8-form-step-title_with-descr {
 font-size:26px;
 margin-bottom:12px
}
.c-block-type8-form-step-title-descr {
 font-size:15px;
 color:#686868;
 margin-bottom:45px
}
.c-block-type8-form-wrap {
 background-color:#f8f8f8;
 padding:50px
}
.c-block-type8-form-item {
 margin-bottom:40px;
 display:-webkit-box;
 display:-webkit-flex;
 display:-ms-flexbox;
 display:flex
}
.c-block-type8-form-item input {
 font-size:18px;
 padding-left:20px;
 padding-right:20px
}
.c-block-type8-form-item .irs {
 margin-bottom:9px
}
.c-block-type8-form-item .irs-max,.c-block-type8-form-item .irs-min,.c-block-type8-form-item .irs-single {
 font-size:16px
}
.c-block-type8-form-item .c-agreement {
 -webkit-box-pack:start;
 -webkit-justify-content:flex-start;
 -ms-flex-pack:start;
 justify-content:flex-start
}
.c-block-type8-form-item .c-agreement-inner {
 max-width:100%
}
.c-block-type8-form-item_style1 {
 margin-bottom:20px
}
.c-block-type8-form-item_style2 {
 margin-bottom:18px
}
.c-block-type8-form-item-checkbox-wrap {
 margin-bottom:30px
}
.c-block-type8-form-item-checkbox-wrap:first-child .c-form-error-message {
 top:5px
}
.c-block-type8-form-item-checkbox-wrap-hidden {
 display:none
}
.c-block-type8-form-item-download-element-title {
 font-size:18px;
 font-family:LatoBold,Helvetica,Arial,sans-serif;
 color:#141216
}
.c-block-type8-form-item-download-element-descr {
 font-size:14px;
 line-height:1.2;
 color:#c2c2c2;
 font-style:italic;
 margin-bottom:17px
}
.c-block-type8-form-item-left {
 margin-right:15px;
 min-width:195px;
 max-width:195px;
 padding-top:13px
}
.c-block-type8-form-item-left_style1 {
 min-width:250px;
 max-width:250px;
 padding-top:16px
}
.c-block-type8-form-item-right {
 -webkit-box-flex:1;
 -webkit-flex:auto;
 -ms-flex:auto;
 flex:auto;
 position:relative
}
.c-block-type8-form-item-right_double-input {
 display:-webkit-box;
 display:-webkit-flex;
 display:-ms-flexbox;
 display:flex;
 -webkit-box-pack:justify;
 -webkit-justify-content:space-between;
 -ms-flex-pack:justify;
 justify-content:space-between
}
.c-block-type8-form-item-right_double-input input {
 min-width:170px;
 max-width:170px
}
.c-block-type8-form-item-title {
 font-family:LatoBold,Helvetica,Arial,sans-serif;
 font-size:18px;
 line-height:1.2;
 color:#141216
}
.c-block-type8-form-item-title-descr {
 font-size:14px;
 color:#c2c2c2;
 margin-top:-5px
}
.c-block-type8-form-item-right-inner {
 display:-webkit-box;
 display:-webkit-flex;
 display:-ms-flexbox;
 display:flex;
 margin-left:20px
}
.c-block-type8-form-item-right-inner-left {
 padding-top:13px;
 margin-right:30px
}
.c-block-type8-bottom-right-item {
 margin-bottom:35px
}
.c-block-type8-bottom-right-item-title {
 font-size:18px;
 line-height:1.2;
 color:#c2c2c2;
 margin-bottom:7px
}
.c-block-type8-bottom-right-item-text {
 font-size:22px;
 font-family:LatoBold,Helvetica,Arial,sans-serif;
 color:#141216;
 line-height:1.2
}
.c-block-type8-bottom-right-item-text_accent {
 color:#00c112
}
.c-block-type8-form-bottom {
 display:-webkit-box;
 display:-webkit-flex;
 display:-ms-flexbox;
 display:flex;
 -webkit-box-pack:end;
 -webkit-justify-content:flex-end;
 -ms-flex-pack:end;
 justify-content:flex-end;
 margin-top:30px
}
.c-block-type8-form-bottom_style1 {
 margin-top:0
}
.c-block-type8-form-bottom_style2 {
 -webkit-box-pack:justify;
 -webkit-justify-content:space-between;
 -ms-flex-pack:justify;
 justify-content:space-between;
 -webkit-box-align:center;
 -webkit-align-items:center;
 -ms-flex-align:center;
 align-items:center
}
.c-block-type8-form-bottom-descr {
 font-size:14px;
 line-height:1.3;
 color:rgba(20,18,22,.4);
 max-width:431px;
 margin-top:-24px;
 margin-bottom:44px
}
.c-block-type8-form-back-link {
 font-size:16px;
 color:#00c012;
 font-family:LatoMedium,Helvetica,Arial,sans-serif;
 display:-webkit-box;
 display:-webkit-flex;
 display:-ms-flexbox;
 display:flex;
 -webkit-box-align:center;
 -webkit-align-items:center;
 -ms-flex-align:center;
 align-items:center;
 line-height:1;
 margin-right:25px;
 -webkit-transition:all .3s ease;
 transition:all .3s ease
}
.c-block-type8-form-back-link:hover {
 color:#00c012
}
.c-block-type8-form-back-link:focus {
 color:#00c012
}
.c-block-type8-form-back-link:hover {
 opacity:.7;
 padding-right:4px
}
.c-block-type8-form-back-link:hover:before {
 margin-right:15px
}
.c-block-type8-form-back-link:before {
 content:'';
 display:block;
 width:9px;
 height:15px;
 background-repeat:no-repeat;
 background-position:50%;
 background-image:url(../img/common/icons/arrow-left.png);
 margin-right:19px;
 margin-bottom:3px;
 -webkit-transition:all .3s ease;
 transition:all .3s ease
}
.c-block-type8-social-panel {
 overflow:hidden
}
.c-block-type8-social-panel-text {
 color:#141216;
 font-size:16px;
 line-height:1.3;
 font-family:LatoMedium,Helvetica,Arial,sans-serif;
 margin-bottom:30px
}
.c-block-type8-social-panel-items {
 display:-webkit-box;
 display:-webkit-flex;
 display:-ms-flexbox;
 display:flex;
 -webkit-flex-wrap:wrap;
 -ms-flex-wrap:wrap;
 flex-wrap:wrap;
 margin-left:-5px;
 margin-right:-5px
}
.c-block-type8-social-panel-item {
 padding:9px 15px;
 font-size:17px;
 color:#f8f8f8;
 line-height:1;
 background-color:#c2c2c2;
 font-family:LatoMedium,Helvetica,Arial,sans-serif;
 margin:0 5px 10px;
 display:-webkit-box;
 display:-webkit-flex;
 display:-ms-flexbox;
 display:flex;
 -webkit-box-align:center;
 -webkit-align-items:center;
 -ms-flex-align:center;
 align-items:center;
 position:relative;
 -webkit-transition:all .3s ease;
 transition:all .3s ease
}
.c-block-type8-social-panel-item:hover {
 color:#f8f8f8
}
.c-block-type8-social-panel-item:focus {
 color:#f8f8f8
}
.c-block-type8-social-panel-item.active {
 padding-right:47px
}
.c-block-type8-social-panel-item.active:after {
 content:'';
 display:block;
 width:37px;
 height:100%;
 border-left:1px solid rgba(255,255,255,.6);
 position:absolute;
 top:0;
 right:0;
 background-repeat:no-repeat;
 background-position:50%;
 background-image:url(../img/elements/block8/icons/ico-close.png);
 opacity:.6
}
.c-block-type8-social-panel-item.active:after:hover {
 opacity:1
}
.c-block-type8-social-panel-item_fb.active {
 background-color:#2353a5
}
.c-block-type8-social-panel-item_insta.active {
 background-image:linear-gradient(-18deg,#9440b1 0,#ca3790 23%,#ff2d6f 48%,#ff9b43 100%)
}
.c-block-type8-social-panel-item_vk.active {
 background-color:#2577ab
}
.c-block-type8-social-panel-item_tw.active {
 background-color:#00baff
}
.c-block-type8-social-panel-item-left {
 margin-right:10px
}
.c-ico-fb {
 width:10px;
 height:22px;
 background-image:url(../img/elements/block8/icons/ico-fb.png)
}
.c-ico-vk {
 width:22px;
 height:13px;
 background-image:url(../img/elements/block8/icons/ico-vk.png)
}
.c-ico-insta {
 width:22px;
 height:22px;
 background-image:url(../img/elements/block8/icons/ico-insta.png)
}
.c-ico-tw {
 width:22px;
 height:19px;
 background-image:url(../img/elements/block8/icons/ico-tw.png)
}
.c-block-type8-confirm-field {
 background-color:#fff;
 margin-bottom:70px;
 padding:45px 50px 38px
}
.c-block-type8-confirm-field-item-text {
 font-size:16px;
 line-height:2.125;
 color:#686868
}
.c-block-type8-confirm-field-item-text span {
 font-size:18px;
 font-family:LatoBold,Helvetica,Arial,sans-serif;
 color:#141216;
 line-height:1.88889
}
.c-block-type8-result {
 text-align:center
}
.c-block-type8-result-title {
 color:#141216;
 font-size:20px;
 line-height:1.5;
 font-family:LatoSemibold,Helvetica,Arial,sans-serif
}
.c-block-type8-result-text {
 color:#141216;
 font-size:16px;
 line-height:1.875
}
.c-block-type8-result-text span {
 color:#00c012
}
.c-block-type8-payment {
 display:-webkit-box;
 display:-webkit-flex;
 display:-ms-flexbox;
 display:flex;
 -webkit-flex-wrap:wrap;
 -ms-flex-wrap:wrap;
 flex-wrap:wrap;
 margin-bottom:26px
}
.c-block-type8-payment-item {
 max-width:340px;
 -webkit-flex-basis:340px;
 -ms-flex-preferred-size:340px;
 flex-basis:340px;
 width:100%;
 padding-right:20px;
 margin-bottom:46px
}
.c-block-type8-payment-item-img {
 margin-top:8px;
 margin-left:40px
}
.c-block-type8-info-items {
 display:-webkit-box;
 display:-webkit-flex;
 display:-ms-flexbox;
 display:flex;
 -webkit-flex-wrap:wrap;
 -ms-flex-wrap:wrap;
 flex-wrap:wrap;
 margin-bottom:20px
}
.c-block-type8-info-item {
 max-width:340px;
 -webkit-flex-basis:340px;
 -ms-flex-preferred-size:340px;
 flex-basis:340px;
 width:100%;
 padding-right:20px;
 margin-bottom:30px
}
.c-block-type8-info-item-title {
 font-size:18px;
 font-family:LatoMedium,Helvetica,Arial,sans-serif;
 color:#c2c2c2;
 line-height:1.3;
 margin-bottom:3px
}
.c-block-type8-info-item-text {
 font-size:22px;
 font-family:LatoSemibold,Helvetica,Arial,sans-serif;
 color:#141216;
 line-height:1.3
}
.c-block-type8-info-bottom {
 display:-webkit-box;
 display:-webkit-flex;
 display:-ms-flexbox;
 display:flex;
 -webkit-box-orient:vertical;
 -webkit-box-direction:normal;
 -webkit-flex-direction:column;
 -ms-flex-direction:column;
 flex-direction:column;
 -webkit-box-align:center;
 -webkit-align-items:center;
 -ms-flex-align:center;
 align-items:center;
 text-align:center;
 border-top:1px solid #c2c2c2;
 margin-left:-50px;
 margin-right:-50px;
 margin-bottom:-40px;
 padding:30px 15px
}
.c-block-type8-info-bottom-title {
 color:#00c012;
 font-size:26px;
 line-height:1;
 font-family:LatoSemibold,Helvetica,Arial,sans-serif;
 margin-bottom:14px
}
.c-block-type8-info-bottom-text {
 font-size:18px;
 line-height:1.3;
 margin-bottom:15px
}
.c-block-type8-info-bottom-text span {
 display:block;
 font-size:22px;
 font-family:LatoSemibold,Helvetica,Arial,sans-serif;
 margin-top:3px
}
button[data-step=subscribe] {
 margin-top:15px
}
.c-block-type8-form-item-passport-selfie {
 margin-bottom:28px
}
.c-block-type8-form-item-passport-selfie .c-form-error-message {
 top:2px
}
.c-block-type8-form-item-passport-selfie-title {
 font-size:18px;
 line-height:1;
 color:#141216;
 font-family:LatoMedium,Helvetica,Arial,sans-serif;
 margin-bottom:27px
}
.c-block-type8-form-item-passport-selfie-inner {
 display:-webkit-box;
 display:-webkit-flex;
 display:-ms-flexbox;
 display:flex;
 -webkit-flex-wrap:wrap;
 -ms-flex-wrap:wrap;
 flex-wrap:wrap
}
.c-block-type8-form-item-passport-selfie-left {
 max-width:226px;
 -webkit-flex-basis:226px;
 -ms-flex-preferred-size:226px;
 flex-basis:226px;
 width:100%;
 -webkit-flex-shrink:0;
 -ms-flex-negative:0;
 flex-shrink:0;
 margin-right:25px;
 margin-bottom:15px
}
.c-block-type8-form-item-passport-selfie-img {
 height:170px;
 background-image:url(../img/elements/block8/images/selfie.jpg);
 background-position:50%;
 background-size:cover
}
.c-block-type8-form-item-passport-selfie-descr {
 font-size:16px;
 color:#141216;
 line-height:1.2;
 font-family:LatoMedium,Helvetica,Arial,sans-serif;
 margin-bottom:15px
}
.c-block-type8-form-items--work-type {
 display:none
}
.c-block-type10-top {
 padding:50px 0 15px
}
.c-block-type10-top .container {
 display:-webkit-box;
 display:-webkit-flex;
 display:-ms-flexbox;
 display:flex;
 -webkit-box-pack:justify;
 -webkit-justify-content:space-between;
 -ms-flex-pack:justify;
 justify-content:space-between;
 -webkit-box-align:center;
 -webkit-align-items:center;
 -ms-flex-align:center;
 align-items:center
}
.c-block-type10-title {
 font-size:36px;
 line-height:1.06;
 letter-spacing:1.5px;
 color:#141216;
 font-family:LatoSemibold,Helvetica,Arial,sans-serif
}
.c-block-type10-search input {
 width:189px;
 line-height:1;
 background-color:rgba(230,230,230,.18);
 background-image:url(../img/elements/block10/icons/ico-loupe2.png);
 background-repeat:no-repeat;
 background-position:158px 50%;
 padding:9px 45px 9px 12px;
 font-size:15px;
 font-family:LatoRegular,Helvetica,Arial,sans-serif;
 -webkit-transition:all .3s ease;
 transition:all .3s ease
}
.c-block-type10-search input.active {
 width:290px;
 background-color:#fff;
 color:#676769;
 background-image:url(../img/elements/block10/icons/ico-loupe2.png);
 background-position:260px 50%
}
.c-block-type10-categories {
 width:100%;
 display:-webkit-box;
 display:-webkit-flex;
 display:-ms-flexbox;
 display:flex;
 -webkit-flex-wrap:wrap;
 -ms-flex-wrap:wrap;
 flex-wrap:wrap;
 margin:30px 15px 0 0
}
.c-block-type10-categories-item {
 background-color:#d4d4d4;
 border-radius:13px;
 font-size:16px;
 color:#fff;
 padding:2px 25px;
 margin-bottom:15px;
 margin-right:25px;
 -webkit-transition:all .3s ease;
 transition:all .3s ease
}
.c-block-type10-categories-item:hover {
 color:#fff
}
.c-block-type10-categories-item:focus {
 color:#fff
}
.c-block-type10-categories-item:last-child {
 margin-right:0
}
.c-block-type10-categories-item.active {
 background-color:#00c012
}
.c-block-type10-categories-item:not(.active):hover {
 background-color:#c2c2c2
}
.c-block-type10-middle {
 min-height:415px
}
.c-block-type10-middle-items {
 display:-webkit-box;
 display:-webkit-flex;
 display:-ms-flexbox;
 display:flex;
 -webkit-flex-wrap:wrap;
 -ms-flex-wrap:wrap;
 flex-wrap:wrap;
 margin-left:-10px;
 margin-right:-10px
}
.c-block-type10-middle-item {
 max-width:380px;
 width:100%;
 -webkit-flex-basis:380px;
 -ms-flex-preferred-size:380px;
 flex-basis:380px;
 background-color:#fff;
 box-shadow:8px 8px 15px 1px rgba(0,0,0,.05);
 margin:0 10px 30px;
 border-radius:5px;
 overflow:hidden
}
.c-block-type10-middle-item:hover .c-block-type10-middle-item-img:after {
 opacity:.2
}
.c-block-type10-middle-item-img {
 position:relative;
 height:249px
}
.c-block-type10-middle-item-img:after {
 content:"";
 display:block;
 position:absolute;
 top:0;
 left:0;
 width:100%;
 height:100%;
 background-color:#fff;
 opacity:0;
 z-index:1;
 -webkit-transition:all .3s ease;
 transition:all .3s ease
}
.c-block-type10-middle-item-category {
 position:absolute;
 top:22px;
 right:26px;
 border-radius:11px;
 color:#fff;
 font-size:14px;
 background-color:#1b1c24;
 padding:2px 17px;
 z-index:2
}
.c-block-type10-middle-item-content {
 padding:26px 25px 15px 23px
}
.c-block-type10-middle-item-title {
 color:#1b1c23;
 font-family:LatoBold,Helvetica,Arial,sans-serif;
 font-size:27px;
 line-height:1.11;
 max-width:280px;
 letter-spacing:.6px;
 margin-bottom:17px
}
.c-block-type10-middle-item-text {
 font-size:14px;
 line-height:1.36;
 color:#1b1c23;
 letter-spacing:.2px
}
.c-block-type10-middle-info {
 display:-webkit-box;
 display:-webkit-flex;
 display:-ms-flexbox;
 display:flex;
 -webkit-box-pack:justify;
 -webkit-justify-content:space-between;
 -ms-flex-pack:justify;
 justify-content:space-between;
 padding:0 25px 20px 23px;
 font-size:12px;
 color:#a6a7a9
}
.c-block-type10-middle-info-items {
 display:-webkit-box;
 display:-webkit-flex;
 display:-ms-flexbox;
 display:flex
}
.c-block-type10-middle-info-item_1 {
 position:relative;
 padding-left:21px
}
.c-block-type10-middle-info-item_1:before {
 content:"";
 display:block;
 position:absolute;
 top:4px;
 left:0;
 width:15px;
 height:9px;
 background-position:50%;
 background-repeat:no-repeat;
 background-image:url(../img/elements/block10/icons/ico-eye2.png)
}
.c-block-type10-middle-info-item_2 {
 position:relative;
 padding-left:19px;
 margin-left:18px
}
.c-block-type10-middle-info-item_2:before {
 content:"";
 display:block;
 position:absolute;
 top:5px;
 left:0;
 width:15px;
 height:9px;
 background-position:50%;
 background-repeat:no-repeat;
 background-image:url(../img/elements/block10/icons/ico-comments2.png)
}
.c-block-type10-bottom {
 padding-top:8px;
 padding-bottom:50px;
 margin:0 auto
}
.c-block-type10-bottom .container {
 display:-webkit-box;
 display:-webkit-flex;
 display:-ms-flexbox;
 display:flex;
 -webkit-box-pack:center;
 -webkit-justify-content:center;
 -ms-flex-pack:center;
 justify-content:center;
 -webkit-box-align:center;
 -webkit-align-items:center;
 -ms-flex-align:center;
 align-items:center
}
.c-block-type10-bottom-link {
 font-size:16px;
 color:#686868;
 font-family:LatoMedium,Helvetica,Arial,sans-serif;
 line-height:1;
 letter-spacing:.3px
}
.c-block-type10-bottom-link:hover {
 color:#686868
}
.c-block-type10-bottom-link:focus {
 color:#686868
}
.c-block-type10-bottom-link:hover {
 opacity:.7
}
.c-block-type10-nav-item {
 font-size:19px;
 color:#1b1c23;
 font-family:LatoSemibold,Helvetica,Arial,sans-serif;
 opacity:.4;
 position:relative;
 border-bottom:1px solid #1b1c23;
 line-height:1;
 letter-spacing:.3px
}
.c-block-type10-nav-item:hover {
 color:#1b1c23
}
.c-block-type10-nav-item:focus {
 color:#1b1c23
}
.c-block-type10-nav-item:after {
 content:"";
 display:block;
 width:9px;
 height:15px;
 position:absolute;
 top:50%;
 -webkit-transform:translate3d(0,-50%,0);
 transform:translate3d(0,-50%,0);
 background-repeat:no-repeat;
 background-position:50%
}
.c-block-type10-nav-item:hover {
 opacity:1
}
.c-block-type10-nav-item_1 {
 margin-right:60px;
 margin-left:18px
}
.c-block-type10-nav-item_1:after {
 left:-18px;
 background-image:url(../img/icons/arrow-left3.png)
}
.c-block-type10-nav-item_2 {
 margin-right:18px
}
.c-block-type10-nav-item_2:after {
 right:-18px;
 background-image:url(../img/icons/arrow-right3.png)
}
.c-block-type10-pagination {
 border-radius:3px;
 box-shadow:8px 8px 15px 1px rgba(0,0,0,.05);
 display:-webkit-box;
 display:-webkit-flex;
 display:-ms-flexbox;
 display:flex;
 overflow:hidden
}
.c-block-type10-pagination-item {
 min-width:40px;
 height:40px;
 padding:5px 10px;
 display:-webkit-box;
 display:-webkit-flex;
 display:-ms-flexbox;
 display:flex;
 -webkit-box-align:center;
 -webkit-align-items:center;
 -ms-flex-align:center;
 align-items:center;
 -webkit-box-pack:center;
 -webkit-justify-content:center;
 -ms-flex-pack:center;
 justify-content:center;
 background-color:#fff;
 font-size:16px;
 color:#1b1b24;
 border-right:1px solid rgba(27,27,36,.05)
}
.c-block-type10-pagination-item:hover {
 color:#1b1b24
}
.c-block-type10-pagination-item:focus {
 color:#1b1b24
}
.c-block-type10-pagination-item:last-child {
 border-right:0
}
.c-block-type10-pagination-item:hover {
 background-color:#1b1b24;
 color:#fff
}
.c-block-type10-pagination-item.active {
 background-color:#1b1b24;
 color:#fff
}
.c-not-found {
 width:100%;
 text-align:center;
 color:#afafaf;
 font-size:19px;
 margin-top:93px;
 letter-spacing:.5px
}
.c-not-found-ico {
 width:51px;
 height:53px;
 background-repeat:no-repeat;
 background-position:50%;
 background-image:url(../img/icons/ico-loupe.png);
 margin:0 auto 38px
}
.c-block-type17 .c-main-title-type1 {
 margin-bottom:40px
}
.c-block-type17 .c-block-type1-form-wrap {
 background-color:#f8f8f8
}
.c-block-type17-padding {
 padding:48px 0 46px
}
.c-block-type17-content {
 display:-webkit-box;
 display:-webkit-flex;
 display:-ms-flexbox;
 display:flex;
 -webkit-box-align:start;
 -webkit-align-items:flex-start;
 -ms-flex-align:start;
 align-items:flex-start
}
.c-block-type17-content-left {
 max-width:380px;
 width:100%;
 -webkit-box-flex:1;
 -webkit-flex:auto;
 -ms-flex:auto;
 flex:auto;
 -webkit-flex-shrink:0;
 -ms-flex-negative:0;
 flex-shrink:0;
 margin-right:25px
}
.c-block-type17-content-right {
 box-shadow:0 0 18px 0 rgba(20,18,22,.1);
 border-radius:5px;
 background-color:#fff
}
.c-faq-tabs {
 background-color:#fff;
 box-shadow:8px 8px 15px 1px rgba(0,0,0,.05);
 border-radius:5px;
 margin-bottom:25px;
 overflow:hidden
}
.c-faq-tab {
 border-bottom:1px solid #e5e5eb;
 padding:17px 47px 16px 0;
 position:relative;
 display:-webkit-box;
 display:-webkit-flex;
 display:-ms-flexbox;
 display:flex;
 -webkit-transition:all .2 ease;
 transition:all .2 ease
}
.c-faq-tab:after {
 content:"";
 display:block;
 width:9px;
 height:16px;
 position:absolute;
 top:50%;
 right:22px;
 -webkit-transform:translate3d(0,-50%,0);
 transform:translate3d(0,-50%,0);
 background-repeat:no-repeat;
 background-position:50%;
 background-image:url(../img/elements/block17/icons/arrow1.svg)
}
.c-faq-tab:last-child {
 border-bottom:none
}
.c-faq-tab.active {
 background-color:#f9f9fa
}
.c-faq-tab-ico {
 min-width:73px;
 display:-webkit-box;
 display:-webkit-flex;
 display:-ms-flexbox;
 display:flex;
 -webkit-box-align:center;
 -webkit-align-items:center;
 -ms-flex-align:center;
 align-items:center;
 -webkit-box-pack:center;
 -webkit-justify-content:center;
 -ms-flex-pack:center;
 justify-content:center
}
.c-ico-faq-repair {
 width:32px;
 height:32px;
 background-image:url(../img/elements/block17/icons/ico1.png)
}
.c-ico-faq-tradein {
 width:32px;
 height:32px;
 background-image:url(../img/elements/block17/icons/ico2.png)
}
.c-ico-faq-buy {
 width:27px;
 height:32px;
 background-image:url(../img/elements/block17/icons/ico3.png)
}
.c-faq-tab-title {
 color:#1b1c23;
 font-size:20px;
 font-family:LatoBold,Helvetica,Arial,sans-serif;
 letter-spacing:.4px
}
.c-faq-tab-descr {
 color:#999ba4;
 font-size:13px;
 line-height:1.31;
 letter-spacing:.3px
}
.c-block-type17-banner {
 display:block;
 padding:63px 35px 55px;
 min-height:449px;
 background-position:50% 100%;
 background-size:cover;
 border-radius:5px;
 overflow:hidden;
 box-shadow:8px 8px 15px 1px rgba(0,0,0,.05);
 margin-bottom:25px;
 -webkit-transition:all .3 ease;
 transition:all .3 ease
}
.c-block-type17-banner:last-child {
 margin-bottom:0
}
.c-block-type17-banner:hover {
 opacity:.85
}
.c-block-type17-banner:hover .c-block-type17-banner-link {
 padding-right:29px
}
.c-block-type17-banner_1 {
 background-image:url(../img/elements/block17/images/1.jpg)
}
.c-block-type17-banner_2 {
 background-image:url(../img/elements/block17/images/2.jpg)
}
.c-block-type17-banner-title {
 color:#fff;
 font-size:32px;
 line-height:1.44;
 text-transform:uppercase;
 letter-spacing:1px;
 margin-bottom:18px
}
.c-block-type17-banner-title span {
 color:#9e3754
}
.c-block-type17-banner-descr {
 color:#9ca7bc;
 font-size:17px;
 line-height:1.41;
 letter-spacing:.4px;
 max-width:190px;
 min-height:122px;
 margin-bottom:30px
}
.c-block-type17-banner-link {
 font-size:16px;
 color:#fff;
 display:inline-block;
 letter-spacing:.6px;
 position:relative;
 padding-right:19px;
 -webkit-transition:all .3 ease;
 transition:all .3 ease
}
.c-block-type17-banner-link:hover {
 color:#fff
}
.c-block-type17-banner-link:focus {
 color:#fff
}
.c-block-type17-banner-link:after {
 content:'';
 display:block;
 width:6px;
 height:11px;
 position:absolute;
 top:7px;
 right:0;
 background-repeat:no-repeat;
 background-position:50%;
 background-image:url(../img/elements/block17/icons/arrow2.svg)
}
.c-block-type17-content-right-top {
 padding:28px 73px;
 display:-webkit-box;
 display:-webkit-flex;
 display:-ms-flexbox;
 display:flex;
 -webkit-box-align:center;
 -webkit-align-items:center;
 -ms-flex-align:center;
 align-items:center;
 border-bottom:1px solid #e5e5eb
}
.c-block-type17-content-right-top-ico {
 margin-right:31px;
 opacity:.3
}
.c-block-type17-content-right-top-title {
 color:#333;
 font-size:31px;
 line-height:1.23;
 font-family:LatoBold,Helvetica,Arial,sans-serif;
 letter-spacing:.6px
}
.c-block-type17-content-right-top-descr {
 color:#999ba4;
 font-size:14px;
 line-height:1.21;
 letter-spacing:.4px
}
.c-faq-accordion-item {
 padding:20px 73px 20px 73px;
 cursor:pointer;
 -webkit-transition:all .3 ease;
 transition:all .3 ease
}
.c-faq-accordion-item:first-child {
 padding-top:41px
}
.c-faq-accordion-item:last-child {
 padding-bottom:68px
}
.c-faq-accordion-item.active {
 background-color:rgba(138,141,153,.05)
}
.c-faq-accordion-item.active .c-faq-accordion-item-question:after {
 background-image:url(../img/elements/block17/icons/ico-minus.svg)
}
.c-faq-accordion-item-question {
 color:#333;
 font-size:18px;
 font-family:LatoSemibold,Helvetica,Arial,sans-serif;
 letter-spacing:.45px;
 -webkit-user-select:none;
 -moz-user-select:none;
 -ms-user-select:none;
 user-select:none;
 position:relative;
 padding-right:70px
}
.c-faq-accordion-item-question:after {
 content:'';
 display:block;
 width:12px;
 height:12px;
 position:absolute;
 top:9px;
 right:0;
 background-repeat:no-repeat;
 background-position:50%;
 background-image:url(../img/elements/block17/icons/ico-plus.png)
}
.c-faq-accordion-item-answer {
 letter-spacing:.4px;
 margin-top:25px;
 margin-bottom:10px;
 padding-right:43px
}
.c-main-title-type1 {
 font-size:35px;
 line-height:1.2;
 color:#141216;
 font-family:LatoBold,Helvetica,Arial,sans-serif
}
.c-main-title-type1_centred {
 text-align:center
}
.c-main-title-type1-descr {
 font-size:20px;
 line-height:1.2;
 color:#686868;
 margin-top:21px
}
.c-main-title-type1-descr_centred {
 text-align:center
}
.c-input-favorite-items {
 display:-webkit-box;
 display:-webkit-flex;
 display:-ms-flexbox;
 display:flex;
 -webkit-box-pack:end;
 -webkit-justify-content:flex-end;
 -ms-flex-pack:end;
 justify-content:flex-end;
 margin-left:-3px;
 margin-right:-3px;
 position:absolute;
 bottom:100%;
 right:0
}
.c-input-favorite-item {
 background-color:#00c112;
 border-radius:50px;
 font-size:12px;
 font-family:LatoSemibold,Helvetica,Arial,sans-serif;
 color:#fff;
 line-height:1;
 padding:5px 10px;
 margin:0 3px 9px;
 cursor:pointer;
 -webkit-transition:all .3s ease;
 transition:all .3s ease
}
.c-input-favorite-item:hover {
 background-color:#5eb42f
}
.c-ico-file {
 width:36px;
 height:50px;
 background-image:url(../img/common/icons/ico-file.png)
}
.c-agreement {
 display:-webkit-box;
 display:-webkit-flex;
 display:-ms-flexbox;
 display:flex;
 -webkit-box-pack:center;
 -webkit-justify-content:center;
 -ms-flex-pack:center;
 justify-content:center;
 margin-top:20px
}
.c-agreement input[type=checkbox]+label:not(checked) {
 margin-right:9px
}
.c-agreement input[type=checkbox]+label:not(checked):before {
 margin-right:0
}
.c-agreement-inner {
 display:-webkit-box;
 display:-webkit-flex;
 display:-ms-flexbox;
 display:flex;
 -webkit-box-align:start;
 -webkit-align-items:flex-start;
 -ms-flex-align:start;
 align-items:flex-start;
 max-width:250px
}
.c-agreement-text {
 font-size:14px;
 line-height:1.3;
 color:#c2c2c2;
 margin-top:2px
}
.c-agreement-text a {
 font-size:14px;
 color:#c2c2c2;
 text-decoration:underline
}
.c-agreement-text a:hover {
 color:#c2c2c2
}
.c-agreement-text a:focus {
 color:#c2c2c2
}
.c-agreement-text a:hover {
 text-decoration:none
}
.c-popup-default {
 position:relative;
 max-width:420px;
 width:100%;
 margin:0 auto
}
.c-popup-default-inner {
 background-color:#fff;
 padding:50px 40px;
 position:relative
}
.c-popup-default-title {
 font-size:28px;
 font-family:LatoBold,Helvetica,Arial,sans-serif;
 line-height:1;
 margin-bottom:25px;
 color:#00c012;
 text-align:center
}
.c-popup-default-title_alone {
 margin-bottom:0
}
.c-popup-default-title-descr {
 color:#141216;
 font-size:16px;
 line-height:1.3;
 text-align:center;
 margin-bottom:37px
}
.c-popup-default-form-item {
 max-width:230px;
 margin-left:auto;
 margin-right:auto;
 margin-bottom:25px
}
.c-popup-default-form-item input {
 font-size:18px;
 padding-left:20px;
 padding-right:20px
}
.c-popup-default-form-btn-wrap {
 padding-top:5px;
 display:-webkit-box;
 display:-webkit-flex;
 display:-ms-flexbox;
 display:flex;
 -webkit-box-pack:center;
 -webkit-justify-content:center;
 -ms-flex-pack:center;
 justify-content:center
}
.c-popup-code {
 max-width:780px;
 text-align:center
}
.c-popup-code .c-popup-default-inner {
 padding:40px 25px 50px
}
.c-popup-code-text {
 font-size:16px;
 color:#141216;
 line-height:1.3;
 font-family:LatoMedium,Helvetica,Arial,sans-serif;
 margin-bottom:28px
}
.c-popup-code-text span {
 color:#00c012
}
.c-popup-code-form-item {
 position:relative;
 max-width:230px;
 margin:0 auto
}
.c-popup-code-form-item input {
 font-size:18px;
 padding-left:20px;
 padding-right:20px
}
.c-popup-code-bottom {
 margin:15px 0 15px
}
.c-popup-code-bottom-link {
 letter-spacing:.3px;
 -webkit-transition:all .3s ease;
 transition:all .3s ease
}
.c-popup-code-bottom-link:hover {
 opacity:.7
}
.c-popup-code-bottom-link_style1 {
 font-size:14px;
 color:#686868
}
.c-popup-code-bottom-link_style1:hover {
 color:#686868
}
.c-popup-code-bottom-link_style1:focus {
 color:#686868
}
.c-popup-code-bottom-link_style2 {
 font-size:14px;
 color:#ffcd00
}
.c-popup-code-bottom-link_style2:hover {
 color:#ffcd00
}
.c-popup-code-bottom-link_style2:focus {
 color:#ffcd00
}
.c-popup-thanks {
 text-align:center;
 font-size:22px
}
.c-popup-thanks p {
 line-height:1.3
}
.c-popup-thanks span {
 font-family:LatoBold,Helvetica,Arial,sans-serif;
 display:block
}
.c-popup-confirm {
 text-align:center
}
.c-popup-confirm .c-popup-default-inner {
 padding:45px 25px 21px
}
.c-popup-confirm .c-popup-default-title {
 margin-bottom:18px
}
.c-popup-confirm .c-popup-code-text {
 margin-bottom:12px;
 letter-spacing:.1px
}
.c-popup-confirm .c-popup-code-bottom {
 margin-top:45px
}
.c-popup-confirm .c-btn-type2 {
 min-width:113px;
 margin-bottom:25px
}
.c-popup-confirm-link {
 font-size:16px;
 color:#00c112;
 letter-spacing:.3px;
 -webkit-transition:all .3s ease;
 transition:all .3s ease
}
.c-popup-confirm-link:hover {
 color:#00c112
}
.c-popup-confirm-link:focus {
 color:#00c112
}
.c-popup-confirm-link:hover {
 opacity:.7
}
.c-popup-privacy {
 max-width:1000px
}
.c-popup-privacy .c-popup-default-inner {
 padding-bottom:30px
}
.c-popup-privacy-content h3 {
 font-family:LatoBold,Helvetica,Arial,sans-serif;
 line-height:1.4
}
.c-popup-privacy-content p {
 margin-bottom:10px;
 line-height:1.4
}
.c-popup-card {
 max-width:780px;
 text-align:center
}
.c-popup-card .c-popup-default-inner {
 padding:40px 25px 50px
}
.c-popup-card-text {
 font-size:16px;
 color:#141216;
 line-height:1.3;
 font-family:LatoMedium,Helvetica,Arial,sans-serif;
 margin-bottom:28px
}
.c-popup-card-text span {
 color:#00c012
}
.c-popup-card-form-item {
 position:relative;
 max-width:150px;
 margin:0 auto 10px
}
.c-popup-card-form-item input {
 font-size:18px;
 padding-left:20px;
 padding-right:20px
}
.c-popup-card-bottom {
 margin:15px 0 15px
}
.c-popup-card-bottom-link {
 letter-spacing:.3px;
 -webkit-transition:all .3s ease;
 transition:all .3s ease
}
.c-popup-card-bottom-link:hover {
 opacity:.7
}
.c-popup-card-bottom-link_style1 {
 font-size:14px;
 color:#686868
}
.c-popup-card-bottom-link_style1:hover {
 color:#686868
}
.c-popup-card-bottom-link_style1:focus {
 color:#686868
}
.c-popup-card-bottom-link_style2 {
 font-size:14px;
 color:#ffcd00
}
.c-popup-card-bottom-link_style2:hover {
 color:#ffcd00
}
.c-popup-card-bottom-link_style2:focus {
 color:#ffcd00
}
@media only screen and (max-width:1400px) {
 .c-fixed-aside {
  display:none
 }
}
@media only screen and (max-width:1300px) {
 .c-block-type10-middle-items {
  margin-left:0;
  margin-right:0;
  -webkit-box-pack:center;
  -webkit-justify-content:center;
  -ms-flex-pack:center;
  justify-content:center
 }
 .c-block-type10-middle-item {
  margin:0 15px 50px
 }
 .c-block-type10-bottom {
  max-width:1161px
 }
}
@media only screen and (max-width:1200px) {
 .c-header-nav-item-link {
  font-size:14px;
  padding-left:10px;
  padding-right:10px
 }
 .c-footer-content-item {
  padding-right:30px
 }
 .c-block-type8-top .c-main-title-type1 {
  margin-bottom:20px
 }
 .c-block-type8-steps-nav-item {
  min-width:0;
  width:100%
 }
 .c-block-type8-steps-nav-item-title {
  font-size:0
 }
 .c-block-type8-steps-nav-item-descr {
  font-size:0
 }
}
@media only screen and (max-width:1190px) {
 .c-block-type10-bottom {
  max-width:774px
 }
}
@media only screen and (max-width:992px) {
 .c-header-padding {
  padding:15px 0
 }
 .c-header-right {
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
  -webkit-flex-direction:column;
  -ms-flex-direction:column;
  flex-direction:column;
  -webkit-box-align:end;
  -webkit-align-items:flex-end;
  -ms-flex-align:end;
  align-items:flex-end
 }
 .c-header-right .c-btn-type1 {
  min-width:0;
  font-size:14px;
  padding:10px 10px 10px 35px;
  background-position:10px 50%
 }
 .c-header-nav {
  position:fixed;
  top:0;
  left:100%;
  opacity:0;
  width:100%;
  height:100%;
  margin-top:0;
  z-index:120;
  overflow:auto;
  display:-webkit-box;
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
  -webkit-flex-direction:column;
  -ms-flex-direction:column;
  flex-direction:column;
  -webkit-box-pack:center;
  -webkit-justify-content:center;
  -ms-flex-pack:center;
  justify-content:center
 }
 .c-header-nav ul {
  display:block
 }
 .c-header-nav-item {
  max-width:100%;
  -webkit-flex-basis:100%;
  -ms-flex-preferred-size:100%;
  flex-basis:100%;
  width:100%
 }
 .c-header-nav-item-link {
  padding:20px 15px 15px;
  font-size:18px;
  font-family:LatoBold,Helvetica,Arial,sans-serif;
  text-transform:uppercase
 }
 .c-header-phone-wrap {
  margin-right:0;
  margin-bottom:10px;
  display:-webkit-box;
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-align:center;
  -webkit-align-items:center;
  -ms-flex-align:center;
  align-items:center
 }
 .c-header-phone-number {
  margin-bottom:0;
  font-size:18px;
  margin-right:13px
 }
 .c-header-phone-text {
  display:none
 }
 .c-btn-toggle {
  display:block
 }
 .c-footer-content-item {
  max-width:33.3333%;
  -webkit-flex-basis:33.3333%;
  -ms-flex-preferred-size:33.3333%;
  flex-basis:33.3333%
 }
 .c-block-type1 {
  min-height:780px;
  background-position:0 50%
 }
 .c-block-type1 .container {
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
  -webkit-flex-direction:column;
  -ms-flex-direction:column;
  flex-direction:column;
  -webkit-box-align:center;
  -webkit-align-items:center;
  -ms-flex-align:center;
  align-items:center;
  -webkit-box-pack:start;
  -webkit-justify-content:flex-start;
  -ms-flex-pack:start;
  justify-content:flex-start
 }
 .c-block-type1_style1 {
  margin-top:0
 }
 .c-block-type1_style2 {
  min-height:0
 }
 .c-block-type1-padding {
  padding:40px 0 30px
 }
 .c-block-type1-left {
  -webkit-flex-basis:auto;
  -ms-flex-preferred-size:auto;
  flex-basis:auto;
  margin-top:0;
  margin-right:0;
  margin-bottom:30px;
  text-align:center
 }
 .c-block-type1-right {
  -webkit-flex-basis:auto;
  -ms-flex-preferred-size:auto;
  flex-basis:auto
 }
 .c-block-type5 .container {
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
  -webkit-flex-direction:column;
  -ms-flex-direction:column;
  flex-direction:column
 }
 .c-block-type5-padding {
  padding:50px 0
 }
 .c-block-type5-left {
  margin-right:0;
  margin-bottom:30px
 }
 .c-block-type5-right {
  margin:auto
 }
 .c-block-type7 .container {
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
  -webkit-flex-direction:column;
  -ms-flex-direction:column;
  flex-direction:column;
  -webkit-box-align:center;
  -webkit-align-items:center;
  -ms-flex-align:center;
  align-items:center
 }
 .c-block-type7-left {
  margin-right:0;
  margin-bottom:40px
 }
 .c-block-type8-middle {
  margin-bottom:15px
 }
 .c-block-type8-bottom {
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
  -webkit-flex-direction:column;
  -ms-flex-direction:column;
  flex-direction:column
 }
 .c-block-type8-bottom-left {
  -webkit-flex-basis:auto;
  -ms-flex-preferred-size:auto;
  flex-basis:auto;
  margin-right:0
 }
 .c-block-type8-form-item_double-input {
  display:block
 }
 .c-block-type8-form-item_double-input .c-block-type8-form-item-title {
  margin-bottom:10px
 }
 .c-block-type8-form-item_double-input .c-block-type8-form-item-right {
  display:block
 }
 .c-block-type8-form-item-right-inner {
  display:block;
  margin-left:0
 }
 .c-block-type8-form-item-right-inner-left {
  margin-top:30px
 }
 .c-block-type10-top {
  padding:25px 0 15px
 }
 .c-block-type10-top .container {
  padding-left:15px;
  padding-right:15px
 }
 .c-block-type10-title {
  margin-left:0
 }
 .c-block-type10-bottom {
  max-width:744px
 }
 .c-block-type17-content {
  -webkit-flex-wrap:wrap;
  -ms-flex-wrap:wrap;
  flex-wrap:wrap
 }
 .c-block-type17-content-left {
  max-width:100%;
  margin-right:0
 }
 .c-block-type17-banner:last-child {
  margin-bottom:25px
 }
 .c-block-type17-banner {
  min-height:0;
  padding:30px;
  background-image:none;
  background-color:rgba(0,0,0,.85)
 }
 .c-block-type17-banner-title {
  font-size:26px
 }
 .c-block-type17-banner-descr br {
  display:none
 }
 .c-block-type17-banner-descr {
  min-height:0;
  max-width:100%;
  margin-bottom:18px
 }
 .c-block-type17-content-right-top {
  display:none
 }
}
@media only screen and (max-width:773px) {
 .c-block-type10-bottom {
  padding-top:25px;
  padding-bottom:30px
 }
 .c-block-type10-bottom .container {
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
  -webkit-flex-direction:column;
  -ms-flex-direction:column;
  flex-direction:column
 }
 .c-block-type10-nav {
  margin-bottom:25px
 }
}
@media only screen and (max-width:768px) {
 .c-header-logo {
  margin-right:15px
 }
 .c-header-text {
  display:none
 }
 .c-footer-content {
  text-align:center
 }
 .c-footer-content-item {
  max-width:100%;
  -webkit-flex-basis:100%;
  -ms-flex-preferred-size:100%;
  flex-basis:100%;
  padding-right:0
 }
 .c-footer-social-panel {
  -webkit-box-pack:center;
  -webkit-justify-content:center;
  -ms-flex-pack:center;
  justify-content:center
 }
 .c-block-type1-title {
  font-size:36px
 }
 .c-block-type1-text {
  font-size:18px
 }
 .c-block-type1-form-descr {
  font-size:16px;
  margin-bottom:30px
 }
 .c-block-type3-padding {
  padding:40px 0 20px
 }
 .c-block-type3-form-wrap {
  margin-bottom:40px
 }
 .c-block-type3-bottom-text {
  font-size:18px
 }
 .c-block-type4-padding {
  padding:40px 0 20px
 }
 .c-block-type7-content-top {
  padding:20px 15px
 }
 .c-block-type7-content-bottom {
  padding:20px 15px
 }
 .c-block-type8-padding {
  padding:40px 0 20px
 }
 .c-block-type8-form-step-title {
  font-size:24px;
  margin-bottom:30px
 }
 .c-block-type8-form-wrap {
  padding:30px 15px
 }
 .c-block-type8-form-item-left_style1 {
  margin-bottom:15px
 }
 .c-block-type8-form-bottom {
  -webkit-box-pack:start;
  -webkit-justify-content:flex-start;
  -ms-flex-pack:start;
  justify-content:flex-start
 }
 .c-block-type8-form-bottom-descr {
  margin-top:-20px;
  margin-bottom:34px
 }
 .c-block-type8-confirm-field {
  padding:30px 15px;
  margin-bottom:30px
 }
 .c-block-type8-info-bottom {
  margin-left:-15px;
  margin-right:-15px
 }
 .c-block-type10-title {
  font-size:26px;
  margin-right:25px
 }
 .c-block-type17-padding {
  padding:15px 0
 }
 .c-faq-tab-title {
  font-size:19px
 }
 .c-block-type17-banner {
  padding:15px 20px
 }
 .c-block-type17-content-right-top-title {
  font-size:26px
 }
 .c-faq-accordion-item {
  padding:15px
 }
 .c-faq-accordion-item:first-child {
  padding-top:30px
 }
 .c-faq-accordion-item:last-child {
  padding-bottom:30px
 }
 .c-faq-accordion-item-question {
  padding-right:30px;
  font-size:16px;
  line-height:1.5
 }
 .c-faq-accordion-item-answer {
  padding-right:0;
  margin-top:15px;
  font-size:15px
 }
 .c-main-title-type1 {
  font-size:30px
 }
 .c-main-title-type1-descr {
  font-size:18px
 }
 .c-popup-default-inner {
  padding-left:15px;
  padding-right:15px
 }
 .c-popup-default-title {
  font-size:26px;
  line-height:1.3
 }
 .c-popup-privacy .c-popup-default-title {
  font-size:20px;
  line-height:1.3
 }
}
@media only screen and (max-width:650px) {
 .c-block-type10-categories {
  margin:30px 0 0
 }
 .c-block-type10-categories-item {
  font-size:14px;
  padding:2px 10px;
  margin-right:15px
 }
 .c-block-type10-middle-items {
  padding-top:0
 }
 .c-block-type10-middle-item {
  margin:0;
  border-radius:0;
  border-bottom:7px solid #1b1c23
 }
 .c-block-type10-middle-item-img {
  height:auto
 }
 .c-block-type10-middle-item-content {
  padding:15px 20px
 }
 .c-block-type10-middle-item-title {
  font-size:23px;
  margin-bottom:13px
 }
}
@media only screen and (max-width:544px) {
 .c-header-right .c-btn-type1 {
  display:none
 }
 .c-header-logo {
  width:159.96px;
  height:24.93px
 }
 .c-header-phone-wrap {
  margin-bottom:0
 }
 .c-header-phone-number {
  width:36px;
  height:36px;
  font-size:0;
  color:transparent;
  border-radius:50%;
  background-color:#00c112;
  background-image:url(../img/partials/header/icons/ico-call-answer.png);
  background-repeat:no-repeat;
  background-position:50%
 }
 .c-block-type1-title {
  font-size:32px;
  margin-bottom:15px
 }
 .c-block-type1-form-bottom-info {
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
  -webkit-flex-direction:column;
  -ms-flex-direction:column;
  flex-direction:column;
  margin-bottom:15px
 }
 .c-block-type1-form-bottom-info-item {
  margin-bottom:10px
 }
 .c-block-type8-form-item {
  display:block;
  margin-bottom:30px
 }
 .c-block-type8-form-item-left {
  max-width:100%
 }
 .c-block-type8-form-item-title {
  margin-bottom:10px
 }
 .c-block-type8-form-bottom {
  margin-top:0
 }
 .c-block-type8-form-bottom_style2 {
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
  -webkit-flex-direction:column;
  -ms-flex-direction:column;
  flex-direction:column;
  -webkit-box-align:start;
  -webkit-align-items:flex-start;
  -ms-flex-align:start;
  align-items:flex-start
 }
 .c-block-type8-form-back-link {
  margin-bottom:25px
 }
 .c-block-type10-title {
  width:100%;
  margin-right:0;
  font-size:22px;
  margin-bottom:15px
 }
 .c-input-favorite-items {
  position:static
 }
}
#block17top{width:100%;}
.active .c-header-nav-item-link {
 background-color:#00c012
}